<h1><%- title %> reviews.</h1>

<div id="reviews-container">
  <img class="vehicle-banner" src="<%- vehicleBanner %>" alt="vehicle image">
<hr>
  <% if (reviews.length > 0) { %>
    <h2>Average Rating: <%= averageRating %> out of 5</h2>
    <% for (const review of reviews) { %>
      <div class="review-box">
        <p class="capitalize">| <%= review.firstname %> <%= review.lastname %></p>
        <p>| <%= review.review_rating %> out of 5</p>
        <p class="timePost"><%= review.timestamp %></p>
      </div>
    <% } %>
  <%} else {%>
      <p>No reviews for this vehicle yet.</p>
  <% } %>


  <!-- display errors -->
<% if (errors) { %>
  <ul class="warningDetails">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<% if (loggedin) { %>
<div class="form-container">
  <form class="input-box" id="addReviewForm" action="/inv/add-review" method="post">
    <label for="description">
      Review
    </label>
    <textarea id="description"
      name="review_text" 
      maxlength="250"
      rows="7"
      required><%- locals.review_text%></textarea>
    <label>Rating out of 5<input type="number" name="rating" value="<%= locals.rating %>" required max=5 min=1></label>
    <button type="submit">Add Review</button>
    <input type="hidden" name="vehicle_id" value="<%= vehicle_id %>">
    <input type="hidden" name="reviewer_id" value="<%= accountData.account_id %>">
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>
  </form>
</div>

<% } else { %>
<a href="/account/login">Login in to make a review</a>
<%}%>


</div>

<hr>